
#cssload-loader {
	display: inline-block;
	float: left;
	margin-top: 36px;
	margin-right: 10px;
}
#cssload-loader ul {
	margin: 0;
	list-style: none;
	width: 63px;
	height: 45px;
	position: relative;
	padding: 0;
	height: 7px;
}
#cssload-loader ul li {
	position: absolute;
	width: 1px;
	height: 0;
	background-color: rgb(142,68,173);
	bottom: 0;
}


#cssload-loader li:nth-child(1) {
	left: 0;
	animation: cssload-sequence1 1.15s ease infinite 0;
		-o-animation: cssload-sequence1 1.15s ease infinite 0;
		-ms-animation: cssload-sequence1 1.15s ease infinite 0;
		-webkit-animation: cssload-sequence1 1.15s ease infinite 0;
		-moz-animation: cssload-sequence1 1.15s ease infinite 0;
}
#cssload-loader li:nth-child(2) {
	left: 10px;
	animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-o-animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-ms-animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-webkit-animation: cssload-sequence2 1.15s ease infinite 0.12s;
		-moz-animation: cssload-sequence2 1.15s ease infinite 0.12s;
}
#cssload-loader li:nth-child(3) {
	left: 21px;
	animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
		-moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.23s;
}
#cssload-loader li:nth-child(4) {
	left: 31px;
	animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-o-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-ms-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-webkit-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
		-moz-animation: cssload-sequence2 1.15s ease-in infinite 0.35s;
}
#cssload-loader li:nth-child(5) {
	left: 42px;
	animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-o-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-ms-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-webkit-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
		-moz-animation: cssload-sequence1 1.15s ease-in-out infinite 0.46s;
}
#cssload-loader li:nth-child(6) {
	left: 52px;
	animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-o-animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-ms-animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-webkit-animation: cssload-sequence2 1.15s ease infinite 0.58s;
		-moz-animation: cssload-sequence2 1.15s ease infinite 0.58s;
}


@keyframes cssload-sequence1 {
	0% {
		height: 7px;
	}
	50% {
		height: 35px;
	}
	100% {
		height: 7px;
	}
}

@-o-keyframes cssload-sequence1 {
	0% {
		height: 7px;
	}
	50% {
		height: 35px;
	}
	100% {
		height: 7px;
	}
}

@-ms-keyframes cssload-sequence1 {
	0% {
		height: 7px;
	}
	50% {
		height: 35px;
	}
	100% {
		height: 7px;
	}
}

@-webkit-keyframes cssload-sequence1 {
	0% {
		height: 7px;
	}
	50% {
		height: 35px;
	}
	100% {
		height: 7px;
	}
}

@-moz-keyframes cssload-sequence1 {
	0% {
		height: 7px;
	}
	50% {
		height: 35px;
	}
	100% {
		height: 7px;
	}
}

@keyframes cssload-sequence2 {
	0% {
		height: 14px;
	}
	50% {
		height: 45px;
	}
	100% {
		height: 14px;
	}
}

@-o-keyframes cssload-sequence2 {
	0% {
		height: 14px;
	}
	50% {
		height: 45px;
	}
	100% {
		height: 14px;
	}
}

@-ms-keyframes cssload-sequence2 {
	0% {
		height: 14px;
	}
	50% {
		height: 45px;
	}
	100% {
		height: 14px;
	}
}

@-webkit-keyframes cssload-sequence2 {
	0% {
		height: 14px;
	}
	50% {
		height: 45px;
	}
	100% {
		height: 14px;
	}
}

@-moz-keyframes cssload-sequence2 {
	0% {
		height: 14px;
	}
	50% {
		height: 45px;
	}
	100% {
		height: 14px;
	}
}